## Overview: Model Selection, Model 2
In this notebook we implement the first analytical model. Model 2 focusses on the number of tickets resolved by each support group in Q2 2016. 
1. A small group of support groups account for most ticket closures
2. Many support groups (four from model 1 results) work on longer activity tickets

In [1]:
import pandas as pd
fp = "../../kmds/examples/q2_2016_ticket_resolution_data.csv"
df = pd.read_csv(fp)
df.head()

       number       sys_created_at            closed_at assignment_group
0  INC0000045  2016-02-29 01:23:00  2016-05-03 12:00:00         Group 56
1  INC0000047  2016-02-29 04:57:00  2016-06-03 10:00:00         Group 24
2  INC0000062  2016-02-29 07:26:00  2016-05-03 16:00:00         Group 23
3  INC0000063  2016-02-29 07:17:00  2016-05-03 17:00:00         Group 23
4  INC0000071  2016-02-29 08:17:00  2016-06-03 11:00:00         Group 24

In [2]:
fpdtypes = "../../kmds/examples/ticket_resolution_dtypes.csv"
dtypes_df = pd.read_csv(fpdtypes)
dtypes_dict = {row["attribute"]: row["type"] for index, row in dtypes_df.iterrows()}
df = df.astype(dtypes_dict)
df = df.reset_index()

In [3]:
df.dtypes

index                        int64
number                      object
sys_created_at      datetime64[ns]
closed_at           datetime64[ns]
assignment_group            object
dtype: object

In [4]:
dsbyag = df.groupby([df.sys_created_at.dt.day_of_year, df.assignment_group])
dsbyag = dsbyag["assignment_group"].size().reset_index(name="ticket_count")
dsbyag.columns = ["DOY", "assingment_group","ticket_count"] 
#dfQ1_PA = dsbysc.pivot(index="InvoiceDate", columns="StockCode", values="item_total").fillna(0)

In [5]:
#dsbyag.pivot(index="DOY", columns="assingment_group", values="ticket_count").fillna(0)

In [6]:
sggb = df.groupby("assignment_group").size().reset_index(name="ticket_count")

In [7]:
sggb.sort_values(["ticket_count"], ascending=False)

   assignment_group  ticket_count
52              nan           427
26         Group 39           396
13         Group 25           319
12         Group 24           304
11         Group 23           174
8          Group 20           153
15         Group 27           150
0          Group 10           135
16         Group 28           125
48         Group 64           123
10         Group 22           115
38         Group 55           112
40         Group 57           107
43          Group 6            86
19         Group 30            83
17         Group 29            77
25         Group 37            77
22         Group 33            72
39         Group 56            66
29         Group 46            65
20         Group 31            62
37         Group 54            59
1          Group 12            59
33          Group 5            52
41         Group 58            36
49         Group 65            36
32         Group 49            35
31         Group 48            28
18          Group 3            25
23         Group 34            20
36         Group 53            19
46         Group 62            19
30         Group 47            19
42         Group 59            18
2          Group 13            18
51          Group 9            17
9          Group 21            15
35         Group 51            13
34         Group 50            13
6          Group 19            11
45         Group 61            10
14         Group 26             9
4          Group 15             7
44         Group 60             7
21         Group 32             6
24         Group 35             6
3          Group 14             6
5          Group 17             5
28         Group 45             5
50         Group 70             2
27         Group 44             2
7           Group 2             1
47         Group 63             1

In [8]:
from tagging.tag_types import ModelSelectionTags
from owlready2 import *
from utils.load_utils import *
#from utils.path_utils import *
KNOWLEDGE_BASE = "../../kmds/examples/example_analytics_kb_app_workflow.xml"

In [9]:
onto2 = load_kb(KNOWLEDGE_BASE)

In [10]:
with onto2:
    insts = Workflow.instances()
the_workflow_instance = insts[0]

In [11]:
the_workflow_instance.has_model_selection_observations

[example_analytics_kb_app_workflow.xml.modelselectionobservation14,
 example_analytics_kb_app_workflow.xml.modelselectionobservation12,
 example_analytics_kb_app_workflow.xml.modelselectionobservation13]

In [12]:
ms_obs_list = []
observation_count = 1

ms1 = ModelSelectionObservation(namespace=onto2)
ms1.finding = "A small group of support groups account for most ticket closures"
ms1.finding_sequence = observation_count
ms1.model_selection_observation_type = ModelSelectionTags.MODEL_SELECTION_OBSERVATION.value
ms_obs_list.append(ms1)
observation_count += 1

ms2 = ModelSelectionObservation(namespace=onto2)
ms2.finding = "Many support groups (four from model 1 results) work on longer activity tickets"
ms2.finding_sequence = observation_count
ms2.model_selection_observation_type = ModelSelectionTags.MODEL_SELECTION_OBSERVATION.value
ms_obs_list.append(ms2)


the_workflow_instance.has_model_selection_observations = (the_workflow_instance.has_model_selection_observations + ms_obs_list)

onto2.save(file=KNOWLEDGE_BASE, format="rdfxml")

In [13]:
the_workflow_instance.has_model_selection_observations

[example_analytics_kb_app_workflow.xml.modelselectionobservation14,
 example_analytics_kb_app_workflow.xml.modelselectionobservation12,
 example_analytics_kb_app_workflow.xml.modelselectionobservation13,
 example_analytics_kb_app_workflow.xml.modelselectionobservation15,
 example_analytics_kb_app_workflow.xml.modelselectionobservation16]